a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(72 61 148 / 38%);
}
.form-check-input:checked {
  background-color: #5d51af;
  border-color: #5d51af;
}

.border {
  border: 1px solid !important;
}

.btn-border {
  border: 1px solid rgb(154, 141, 236) !important;
}

.buttonAnimation2 {
  border-color: rgb(154, 141, 236) !important;
}

.buttonAnimation2.pink {
  border-color: #ff4772 !important;
}

.buttonAnimation2.green {
  border-color: #07d3b0 !important;
}

.buttonAnimation2.yellow {
  border-color: #f0d009 !important;
}

.container.px-5 {
  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
}

.heading1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}
.list1 {
  padding: 0rem;
  margin-bottom: 1.25rem;
}
.list1 li {
  color: #fff;
  font-size: 0.875rem;
}
.list1 li h4 {
  font-size: 1.125rem;
}
.list1 li p {
  font-size: 1rem;
}
.heading2 {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #fff;
  margin-top: 1.25rem;
}
.heading-3 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.list-2 {
  padding: 0rem;
}
.list-2 li p {
  font-size: 0.8125rem;
}
.heading-4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}
.appoint-google .col-lg-4 {
  width: 33.33%;
}
.list-4 ul {
  padding: 0rem;
}
.list-4 li {
  color: #ffffff99;
  list-style: disc;
}
.margin-20 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.small-text1 {
  font-size: 1rem !important;
  color: #ffffff99 !important;
  position: relative;
  font-weight: 400 !important;
  width: 18.1875rem;
}
.chartMain > h2 {
  left: 14%;
  text-align: center;
}
ul.list-4 {
  padding: 0rem;
}
section.customerservice-section {
  position: relative;
  overflow: hidden;
}
.glow1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.0625rem;
  height: 26.25rem;
  background: #5d51af;
  filter: blur(9.9375rem);
}
.glow2 {
  position: absolute;
  right: 0rem;
  top: 20%;
  width: 3.25rem;
  height: 13.75rem;
  border-radius: 12.5rem;
  box-shadow: 0 0 0.8125rem 0.125rem #5d51af94;
  background: #5d51af82;
  filter: blur(3.75rem);
}

.load-button {
  width: fit-content;
  display: block;
  margin: 1.25rem auto;
}

.load-button a i {
  margin-right: 0.3125rem;
}
.plusicon {
  font-size: 1.25rem;
}

@media (max-width: 100rem) {
  .mobile-section {
    display: none !important;
  }
}

@media (max-width: 62rem) {
  .appoint-google .col-md-6 {
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 36rem) {
  .appoint-google .col-lg-4 {
    width: 100%;
  }
  .mobile-section {
    display: block !important;
  }
  .rainbowImage .img2 img:first-child {
    display: none;
  }
  .rainbowImage .img2 img {
    display: none;
  }
  .rainbowImage .img2 p {
    display: none;
  }
  .rainbowImage .img3 img:first-child {
    display: none;
  }
  .bothImgMain .boxSvg {
    display: none;
  }
  .boxSvgText {
    display: none;
  }
  .rainbowImage .img7 img:first-child {
    display: none;
  }
  .rainbowImage .img5 img,
  .rainbowImage .img7 img {
    display: none;
  }
  .rainbowImage .img5 img,
  .rainbowImage .img7 img {
    display: none;
  }
  .rainbowImage .img7 p {
    display: none;
  }
  .rainbowImage .img6 img:first-child {
    display: none;
  }
  .bothImgMain .boxSvg {
    display: none;
  }
  .boxSvgText {
    display: none;
  }
  .img1::after {
    display: none;
  }
  .img1::before {
    display: none;
  }
  .img2::before {
    display: none;
  }
  .img2::after {
    display: none;
  }
  .img3::before {
    display: none;
  }
  .img5::before {
    display: none;
  }
  .img5::after {
    display: none;
  }
  .img4::before {
    display: none;
  }
  .img4::after {
    display: none;
  }
  .img1InnerDiv::after {
    display: none;
  }
  .rainbowImage .img5 img:first-child {
    display: block;
  }
  .rainbowImage img {
    margin-top: 1.9375rem;
    margin-left: auto;
  }
  .rainbowImage .img5 img:first-child {
    margin-left: auto;
  }
  .w-layout-blockcontainer1 {
    display: none;
  }
  .boxSvgTextNew {
    text-align: center;
    color: #fff;
    margin-top: 12.8px;
  }
  .bothImgMainNew,
  .img1InnerDivNew1,
  .img1InnerDivNew2,
  .img1InnerDivNew3 {
    position: relative;
  }

  .img1InnerDivNew1::after {
    content: "";
    height: 0.0625rem;
    width: 11.875rem;
    background: linear-gradient(90deg, #fff 50%, transparent 50%);
    background-size: 0.9375rem 0.25rem;
    background-repeat: repeat-x;
    animation: border-dance 5s linear infinite;
    position: absolute;
    bottom: -48px;
    left: 29%;
    z-index: -1;
    transform: rotate(58deg) translate(50%, 0%);
  }
  .img1InnerDivNew2::after {
    content: "";
    height: 0.0625rem;
    width: 11.875rem;
    background: linear-gradient(90deg, #fff 50%, transparent 50% 50%);
    background-size: 0.9375rem 0.25rem;
    background-repeat: repeat-x;
    animation: border-dance 5s linear infinite;
    position: absolute;
    bottom: -120px;
    left: 10%;
    z-index: -1;
    transform: rotate(360deg) translate(50%, 0%);
  }
  .img1InnerDivNew3::after {
    content: "";
    height: 0.0625rem;
    width: 11.875rem;
    background: linear-gradient(90deg, #fff 50%, transparent 50% 50%);
    background-size: 0.9375rem 0.25rem;
    background-repeat: repeat-x;
    animation: border-dance 5s linear infinite;
    position: absolute;
    bottom: -81px;
    left: -137%;
    z-index: -1;
    transform: rotate(298deg) translate(50%, 0%) !important;
  }
}
.heroSectionPadding h1.headingSize {
  font-size: 62.4px;
}
.active2 {
  color: #9a8dec !important;
}
/*ul.arrowPointUl > li {*/
/*    font-size: 13.2px;*/
/*}*/
ul.arrowPointUl {
  margin-bottom: 8.4px !important;
}

ul.arrowPointUl > li::before {
  top: 11.2px;
}

.heading1 {
  font-size: 1rem;
}

.tabSection .nav-link {
  position: relative;
  padding-left: 0.8125rem;
}

.tabSection .nav-link:before {
  content: "";
  position: absolute;
  top: 11.52px;
  left: -2.24px;
  height: 7.04px;
  width: 7.04px;
  background: #261e50;
  background-image: linear-gradient(to bottom, #9a8dec 0%, #7361e5 100%);
  border-radius: 96px;
  border-color: rgb(154 141 236 / 1);
}

@media (max-width: 64rem) {
  .hideOnipad {
    display: none;
  }
}

@media (max-width: 62rem) {
  .hideOnipad {
    display: none;
  }

  .stack-cards__item {
    height: 50vh;
  }
}

@media (max-width: 36rem) {
  .heroSectionPadding {
    padding: 5.9375rem 0 2.3125rem !important;
  }

  .stack-cards__item {
    height: auto;
  }
}

ul.custom-tabs .nav-link.custom-tab-link {
  border: none;
  border-radius: 0;
  padding: 0;
  color: #ffffff;
  background: transparent;
  font-weight: 500;
  transition: all 0.3s ease;
}

ul.custom-tabs .nav-link.custom-tab-link:hover {
  color: #fff;
}

ul.custom-tabs .nav-link.custom-tab-link.active {
  color: #fff;
  background: transparent;
  border-radius: 0;
}

ul.custom-tabs .nav-link.custom-tab-link.active {
  color: #fff !important;
}

ul.custom-tabs .nav-link.custom-tab-link {
  color: grey !important;
}

ul.custom-tabs .nav-link.custom-tab-link:hover {
  color: #fff !important;
}

.appMainFirst h2 {
  font-size: 2.425rem;
}

.solutionFaq ul li.custom-nav1 {
  position: relative;
  width: 100%;
  display: block;
}

.solutionFaq ul li.custom-nav1 .nav-link {
  position: relative;
  padding-left: 1.25rem;
}

.faqUl > li {
  flex-wrap: wrap;
}

.faqUl > li::before {
  display: none;
}

.solutionFaq ul li.custom-nav1 .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.44rem;
  transform: translate(0px, -50%);
  height: 0.13rem;
  width: 1rem;
  background-image: linear-gradient(to bottom, #9a8dec 0%, #7361e5 100%);
}

.custom-tab-link {
  font-size: 17.76px;
}

.tab-div .list01 {
  margin-top: 30px;
}

.tab-div {
  margin-top: 30px;
}

.tab-div .list01 li {
  position: relative;
  color: grey;
  padding-bottom: 0.22rem;
  padding-left: 14px;
}

.tab-div .list01 li:before {
  content: "";
  position: absolute;
  top: 0.72rem;
  left: -0.14rem;
  height: 0.44rem;
  width: 0.44rem;
  background: #261e50;
  background-image: linear-gradient(to bottom, #9a8dec 0%, #7361e5 100%);
  border-radius: 6rem;
  border-color: rgb(154 141 236 / 1);
}

ul.custom-tabs .nav-link.custom-tab-link.active {
  color: #7361e5 !important;
}

ul.custom-tabs .nav-link.custom-tab-link.active #imageCounter {
  color: #7361e5 !important;
}

ul.custom-tabs .nav-link.custom-tab-link.active + .list01 li {
  color: #fff;
}

#imageCounter,
#imageCounter2,
#imageCounter3 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: grey;
}

ul.custom-tabs li.active1 #imageCounter,
ul.custom-tabs li.active1 #imageCounter2,
ul.custom-tabs li.active1 #imageCounter3 {
  color: #7361e5;
}

/*Blog css*/
.blog-img {
  height: 38vh;
  object-fit: cover;
}

.single-blog-img {
  height: 55vh;
  object-fit: cover;
}

.pagination-btn {
  border-radius: 50%;
  font-size: 0.9rem;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-list {
  padding-left: 0;
  list-style-type: none !important;
  display: grid;
  gap: 5px 0;
}
.table-list ul {
  list-style-type: none !important;
}
.table-list li > a {
  color: #c3c0d8;
  font-size: 1rem;
}
.blog-content h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.blog-content h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.blog-content p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.single-blog-left-side h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.socialshare-div{
  top: 44%;
  left: 2%;
  transform: translate(-50%, -50%);
  gap: 20px 0;
  display: grid;
}
.socialshare-div > a{
  color: #fff;
  border-radius: 50%;
  padding: .6rem;
  font-size: 1.2rem;
}
.socialshare-div > a:nth-child(1){
  background-color: #1877F2;
}
.socialshare-div > a:nth-child(2){
  background-color: #4b4b4b;
}
.socialshare-div > a:nth-child(3){
  background-color: #0077B5;
}
.socialshare-div > a:nth-child(4){
  background-color: #25D366;
}
.socialshare-div > a:nth-child(5){
  background-color: #BB001B;
}


.blog-list-slider .owl-nav > button{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff !important;
    border-radius: 50%;
}
.blog-list-slider .owl-nav > button.owl-prev{
  left: -35px;
}
.blog-list-slider .owl-nav > button.owl-next{
  right: -90px;
}
.blog-list-slider .owl-nav > button > span{
  border-radius: 50%;
  padding: .8rem 1.3rem;
  background-color: #ff4772 ;
}


/* STEPS FORM CSS START */
.chat_header_container {
  border-bottom: 1px solid #374151;
}
.chatbot_header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4rem;
  position: relative;
  min-height: 67.17px;
}
.header_pogress_points {
  width: 80%;
  /* gap: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.step_line {
  background-color: #7373734d;
  height: 1px;
  width: 100%;
  max-width: 64px;
  flex: auto;
}

.header_point {
  /* flex: auto; */
  display: flex;
  align-items: center;
  position: relative;
  /* gap: 1rem; */
}

.header_point button {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  color: #000000;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_point .step_title {
  font-size: 14px;
  font-weight: 500;
}
.header_point.bg_complete button {
  background-color: #30a46c;
  color: #ffffff;
}

.header_point.bg_current button {
  background-color: #5d51af;
  color: #ffffff;
}
.header_point.bg_incomplete button {
  background-color: #ffffff;
  opacity: 0.25;
}
.header_point.bg_incomplete .incomplete_title {
  opacity: 0.25;
  font-weight: 500;
  font-size: 14px;
}
.chatbot-content-wrapper.footer {
  border-top: 1px solid #374151;
}
.chatbot_footer {
  min-height: 4.92rem;
  display: flex;
  align-items: center;
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
}
.chatbot-left-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #374151;
  background-color: #110e20;
  padding: 0 !important;
}

.chatbot-content-wrapper:first-child {
  flex: auto;
  align-content: center;
}
.chatbot-content {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
}
.chatbot-content-wrapper input,
.chatbot-content-wrapper textarea,
.chatbot-content-wrapper select {
  background-color: #050315;
  border: 1px solid rgb(34 31 51 / 1);
  padding: 0.825rem 1rem;
  border-radius: 2rem;
  width: 100%;
  color: #fff;
  resize: none;
  font-size: 0.875rem;
  margin-top: 0.625rem;
}
.chatbot-content-wrapper select::placeholder,
.chatbot-content-wrapper input::placeholder,
.chatbot-content-wrapper textarea::placeholder {
  color: #999999;
}
.chatbot-content-wrapper select:focus,
.chatbot-content-wrapper input:focus,
.chatbot-content-wrapper textarea:focus {
  outline: none;
  background-color: #030012c7;
  border-color: rgb(255 255 255 / 0.2);
  box-shadow: 0 0 0 3px rgb(255 255 255 / 0.1);
  color: #ffffff;
}
.custom_select {
  position: relative;
}
.chatbot-content-wrapper select {
  appearance: none; /* hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}
/* Custom arrow */
.custom_select::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 60%;
  width: 14px;
  height: 14px;
  pointer-events: none;
  transform: translateY(-50%);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>")
    no-repeat center;
  background-size: 18px;
}

.chatbot-content-wrapper label {
  font-size: 0.875rem;
}
.bot_options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bot_options .option_item {
  border: 1px solid #374151;
  font-size: 0.875rem;
  padding: 12px 10px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #050315;
  border-color: rgb(34 31 51 / 1);
}
.bot_options .option_item label {
  transition: 0.4s all;
  background-color: #110e20;
  border-radius: 50%;
}
.bot_options .option_item.selected_item {
  border-color: #5d51af;
}
.bot_options .option_item.selected_item label {
  background-color: #5d51af;
}
.welcome_screen {
  height: calc(100vh - 68.17px);
  align-content: center;
}
.send_btn_chatbot2 {
  color: #fff;
  background: rgba(94, 81, 175, 0.357);
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 5px;
}
.chabot_url_input {
  padding: 1rem !important;
}
.active_url_bot_tab {
  border-color: #5d51af !important;
  color: #5d51af;
}
.active_url_bot_tab span {
  color: #5d51af;
}
.active_url_bot_tab svg {
  color: #5d51af;
}
ul.chatbot_upload_files {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 300px;
  overflow-y: scroll;
}
ul.chatbot_upload_files::-webkit-scrollbar {
  visibility: hidden;
}

ul.chatbot_upload_files li {
  border: 1px solid #5d51af;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 13px;
  border-radius: 35px;
}
.bot_upload_img {
  border-color: #5d51af !important;
  color: #5d51af !important;
}
.bot_upload_img:hover {
  background-color: #5d51af !important;
  color: #ffffff !important;
}
/* STEPS FORM CSS END */

@media (max-width: 992px) {
  .solutionFaq ul li.custom-nav1 .nav-link {
    width: 100%;
  }
  .centerBox::before,
  .centerBox::after {
    animation: none !important;
  }
  .img1InnerDivNew1::after,
  .img1InnerDivNew2:after,
  .img1InnerDivNew3::after {
    animation: none !important;
  }
  .heroSectionPadding {
    margin: 2.5rem 0 !important;
  }
  .buttonAnimation,
  .buttonAnimation2 {
    animation: none !important;
  }
}

@media (max-width: 576px) {
  .solutionFaq ul li.custom-nav1 .nav-link {
    width: 100%;
  }

  .solutionSearchMain .buttonAnimation2 {
    text-align: center;
  }
}
